.wrapper {
    position: relative;
    width: 80rem;
    height: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* ----- Adaptation ------ */
@media (max-width: 1280px){
    .wrapper {
        width: 100%;    
    } 
}
@media (max-width: 1024px){
    .wrapper {
        width: 100%;  
    }
}
@media (max-width: 992px){
    .wrapper {
        max-width: 750px;  
    }
}
@media (max-width: 768px){
    .wrapper {
        width: 51rem;  
    }
}
@media (max-width: 414.98px){
    .wrapper {
        width: 320px;  
    }
}