.footer{
    width: 100%;
    height: auto;
    margin: 0rem auto;
}
.footer__container{
    background-color: var(--main-bg-color);
}
.footer__block{
    display: flex;
    align-items: first baseline;
    justify-content: space-evenly;
    margin: 8% auto;
}
.footer__block__item__title{
    margin: 2rem 0rem;
    font-weight: 600;
    text-align: center;
}
.footer__block__item__link{
    margin: 0.5rem 0rem;
    text-align: center;
}
.footer__block__item__link:hover a{
    color: var(--hover-link-color);
    font-weight: 400;
}
.footer__copyright{
    width: 100%;
    max-width: 1024px;
    margin: 0rem auto;
    font-weight: 400;
}
.footer__copyright p{
    margin: 0rem 2rem;
}
/* -------- CallAction ----------- */
.call__action__container {
    width: 80%;
    max-width: 1024px;
    height: auto;
    margin: 5% auto;
    text-align: center;
    border: 1px solid var(--header-btn-bg-color);
    border-radius: 25px;
}
.call__action__title, .call__action__title h1{
    margin: 3rem auto;
}
.call__action__title h1{
    width: 60%;
    color: var(--text-color);
}
.call__action__title p{
    width: 60%;
    margin: 5% auto;
    margin-bottom: 5%;
}
.call__action__btn {
    width: 200px;
    height: 60px;
    margin: 0 auto;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    border-radius: 2rem;
    margin-bottom: 8%;
    border: 2px solid var(--header-btn-bg-color);
    background: var(--header-btn-bg-color);
}
.call__action__btn a{
    color: var(--header-btn-text-color);

}
.call__action__btn:hover {
    background: var(--header-btn-text-color);
}
.call__action__btn:hover a{
    color: var(--header-btn-bg-color)
}

/*! ----- Adaptation ------ */
@media (max-width: 849px){
    .call__action__title h1{
        font-size: 1.5rem;
    }
}
@media (max-width: 684px){
    .call__action__title h1{
        font-size: 1.3rem;
    }
    .call__action__title{
        font-size: 1rem;
    }
    .footer__block{
        flex-direction: column;
        margin: 5% auto;
    }
    .footer__block__item{
        margin: 2% auto;
    }
}
@media (max-width: 420px){
    .call__action__title h1{
        font-size: 1.1rem;
    }
    .call__action__title{
        font-size: 0.9rem;
    }
    .footer__copyright{
        margin: 0;
        text-align: center;
        font-size: 0.8rem;
    }
}
