.main{
    width: 100%;
    height: auto;
    margin: -3rem auto 2rem auto;
    background-color: var(--main-bg-color);
}
.main__container{
    width: 100%;
    margin: 0rem auto;
}
/* ----------MainTitle ---------- */
.main__title{
    padding: 4rem 0rem ;
    width: 70%;
    height: auto;
    margin: 12rem auto -2rem auto;
    font-size: 1.6rem;
    text-align: center;
}
.main__title span{
    color: var(--text-color);
    font-size: 5rem;
}
.main__title__text {
    width: 80%;
    text-align: center;
    margin: 3rem auto;
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--text-color);
}
.main__title__btn {
    min-width: 200px;
    height: 60px;
    padding: 13px 20px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 2rem;
    border: 2px solid var(--header-btn-bg-color);
    background: var(--header-btn-bg-color);
}
.main__title__btn a{
    color: var(--header-btn-text-color);

}
.main__title__btn:hover {
    background: var(--header-btn-text-color);
}
.main__title__btn:hover a{
    color: var(--header-btn-bg-color)
}
/* ----------MainMedia -------------- */
.main__media{
    padding: 4rem 0rem 8rem;
    width: 100%;
    height: auto;
    margin: 1rem auto;
    text-align: center;
}
.main__media__media{
    position: relative;
    width: 100%;
    height: auto;
}
.main__media__video{
    width: 80%;
    height: 60%;
    border-radius: 15px;
    box-shadow:  4px 4px 30px #c9c9c9,
            -4px -4px 30px #c9c9c9;
}
.main__media__btn {
    position:absolute;
    top: 45%;
    left: 45%;
    width: 13%;
    height: 8%;
    text-align: center;
    padding: 0.7%;
    cursor: pointer;
    font-size: 0.6rem;
    transition: all 0.3s ease;
    display: inline-block;
    outline: none;
    border-radius: 2rem;
    color: var(--header-btn-text-color);
    border: 2px solid var(--header-btn-bg-color);
    background-color: var(--header-btn-bg-color);
}
.main__media__btn:hover {
    transform: scale(2);
}
.main__media__text{
    width: 80%;
    text-align: center;
    margin: 3rem auto;
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--text-color);
}
/* ------------MainTypeAnimation ----------- */
.main__type__animation{
    padding: 8rem 0rem ;
    width: 100%;
    height: 28rem;
    margin: 14rem auto -3rem;
    text-align: center;
    background-color: var(--body-bg-color);
}
.main__type__animation__title{
    width: 70%;
    margin: 1rem auto;
    color: var(--text-color);
    font-size: 3rem;
}
.main__type__animation__text__block{
    width: 90%;
    margin: 1rem auto;
    font-family: 'Oswald', sans-serif;
}
.main__type__animation__text{
    width: 40%;
    font-weight: 600;
    font-size: 2.2rem;
    color: #0351ce;
}
/* ------------MainBlock -------------- */
.main__block__container{
    width: 100%;
    background-color: var(--body-bg-color);
    margin: 1rem auto;
}
.main__block {
    padding: 2rem 1rem;
    width: 96%;
    height: auto;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}
.main__block__img {
    margin: 2% auto;
    width: 50%;
    height: 50%;
}
.main__block__img img{
    margin: 5% 2rem;
    width: 90%;
    height: 90%;
    border-radius: 5%;
}
.main__block__title{
    width: 80%;
    margin: 0rem auto;
    padding: 0rem 1rem;
}
.main__block__title h3{
    width: 90%;
    margin: 2rem 4rem;
    color: var(--text-color);
}
/* ------------ MainTestimonials ----------- */
.main__testimonials{
    width: 100%;
    height: auto;
    padding: 2% 0rem ;
}
.main__testimonials__container{
    overflow: hidden;
}
.main__testimonials__title{
    width: 60%;
    height: auto;
    text-align: center;
    margin: 2% auto;
    color: var(--text-color);
}
.main__testimonials__block {
    width: 800%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    overflow: hidden;
}
.main__testimonials__block{
    animation: marquee-div 50s linear infinite;
}
.main__testimonials__block:hover{
    animation-play-state: paused;
}
.main__testimonials__item{
    width: 55%;
    height: auto;
    background-color: var(--header-btn-text-color);
    margin: 0.1%;
    padding: 0.5% 0.2%;
    border-radius: 10px;
    border: 1px solid var(--header-btn-bg-color);
}
.item__rating{
    color: orange;
    margin: 10% 5%;
}
.item__text{
    margin: 1rem 0.5rem;
    text-align: left;
}
@keyframes marquee-div {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}
/* --------MainFAQ ---------- */
.faq{
    width: 100%;
    height: auto;
    background-color: var(--body-bg-color);
    padding: 3rem 0rem;
}
.faq__container{
    width: 100%;
    height: auto;
    margin: 0rem auto;
}
.faq__title{
    width: 60%;
    height: auto;
    margin: 3rem auto;
    text-align: center;
}
.faq__title h1{
    color: var(--text-color);
    margin: 2rem 0rem;
}
.faq__block{
    width: 100%;
    height: auto;
    margin: 2% auto;
    display:flex;
    justify-content: space-around;
}
.faq__block__left,
.faq__block__right{
    width: 49%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.faq__item{
    display: block;
    width: 100%;
    height: auto;
    margin:0.5% auto;
    padding: 1% 6%;
    overflow-wrap: break-word;
    word-break: break-word;
    border-radius: 16px;
    border: 1px solid var(--header-btn-bg-color);
    /* background-color: var(--main-bg-color); */
}
.faq__item h3{
    width: 80%;
    margin: 1rem 0rem;
    position: relative;
}
.faq__item:hover summary{
    cursor: pointer;
}
.faq__item p{
    font-size: 1rem;
}
.faq__item__title{
    width: 90%;
    font-size: 1.2rem;
    padding: 3%;
}
details {
    position: relative;
}
summary::after {
    position: absolute;
    top: -0.5rem;
    right: -2%;
    content: '+';
    font-size: 2rem;
    font-weight: 400;
}
details[open] summary::after{
    content: '-';
    font-size: 2rem;
    font-weight: 400;
}

/* !-----------Adaptation ------------- */
@media (max-width:889px) {
    .main__media__btn:hover{
        transform: scale(1.6);
    }
    .main__title span{
        font-size: 4rem;
    }
}
@media (max-width:834px) {
    .faq__block{
        flex-direction: column;
    }
    .faq__block__left,
    .faq__block__right{
        width: 90%;
        margin: 0% auto;
    }
}
@media (max-width: 800px){
    .main__title {
        width: 26rem;
        font-size: 1rem;
    }
    .main__title__text {
        width: 26rem;
        font-size: 1.2rem;
    }
    .main__block{
        font-size: 1rem;
        margin: 5% 1rem;
    }

    .faq__item{
        width: 80%;
    }
}
@media (max-width: 684px){
    .main__title{
        margin: 11rem auto -2rem auto;
    }
    .main__title span{
        font-size: 2.5rem;
    }
    .main__media__btn{
        width: 18%;
        height: 10%;
    }
    .main__media__btn:hover{
        transform: scale(2);
        font-size: 0.5rem;
    }
    .main__media__text{
        font-size: 0.9rem;
    }
    .main__block{
        flex-direction: column;
        margin: 3% auto;
    }
    .main__block__img{
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: center;
    }
    .main__block__img img{
        width: 60%;
        height: 60%;
        margin: 4% auto;
    }
    .main__testimonials__block{
        width: 1200%;
    }
    .main__testimonials__title{
        font-size: 0.9rem;
    }
    .main__testimonials__item{
        width: 65%;
        font-size: 1rem;
    }
    .faq__item__title{
        font-size: 0.9rem;
    }
}
@media (max-width: 621px){
    .main__type__animation__title{
        font-size: 2.6rem;
    }
    .main__type__animation__text__block{
        width: 90%;
        margin: 1rem auto;
        font-family: 'Oswald', sans-serif;
    }
    .main__type__animation__text__block h1{
        font-size: 1.8rem;
    }
    .main__type__animation__text{
        width: 30%;
        font-weight: 600;
        font-size: 2rem;
        color: #0351ce;
    }
}
@media (max-width: 565px){
    .main__type__animation__title{
        font-size: 2.4rem;
    }
    .main__type__animation__text__block{
        width: 90%;
        margin: 1rem auto;
        font-family: 'Oswald', sans-serif;
    }
    .main__type__animation__text__block h1{
        font-size: 1.3rem;
    }
    .main__type__animation__text{
        width: 30%;
        font-weight: 600;
        font-size: 1.5rem;
        color: #0351ce;
    }
}
@media (max-width: 420px){
    .main__title{
        margin: 14rem auto -2rem auto;
    }
    .main__title {
        width: 18rem;
        font-size: 0.8rem;
    }
    .main__title span{
        font-size: 1.8rem;
    }
    .main__title__text {
        width: 18rem;
        font-size: 1rem;
    }
    .main__block{
        font-size: 1rem;
        margin: 5% 1rem;
    }
    .main__media__btn{
        width: 20%;
        height: 14%;
    }
    .main__media__btn:hover{
        transform: scale(2.4);
        font-size: rem;
    }
    .main__media__text{
        width: 90%;
        font-size: 0.8rem;
    }
    .main__block__title{
        padding: 2%;
        font-size: 0.9rem;
    }
    .main__testimonials__block{
        width: 1400%;
    }
    .main__testimonials__title{
        font-size: 0.9rem;
    }
    .main__testimonials__item{
        width: 65%;
        font-size: 1rem;
    }
    .faq__item h3{
        font-size: 1rem;
    }
    .main__type__animation__title{
        font-size: 2rem;
    }
    .main__type__animation__text__block{
        width: 50%;
        margin: 1rem auto;
        font-family: 'Oswald', sans-serif;
    }
    .main__type__animation__text__block h1{
        font-size: 1.1rem;
    }
    .main__type__animation__text{
        width: 30%;
        font-weight: 600;
        font-size: 1.3rem;
        color: #0351ce;
    }
}